<nav class="bottom-nav">
    <a href="../index.html" class="bottom-link" data-page="home">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
    </a>
    <a href="../pages/about.html" class="bottom-link" data-page="about">
        <i class="fa-solid fa-info-circle"></i>
        <span>About</span>
    </a>
    <a href="../pages/why-us.html" class="bottom-link" data-page="why-us">
        <i class="fa-solid fa-star"></i>
        <span>Why Us</span>
    </a>
    <a href="../pages/roadmap.html" class="bottom-link" data-page="roadmap">
        <i class="fa-solid fa-road"></i>
        <span>Roadmap</span>
    </a>
    <a href="../pages/projects.html" class="bottom-link" data-page="projects">
        <i class="fa-solid fa-code-branch"></i>
        <span>Projects</span>
    </a>
    <a href="../pages/tech-outcomes.html" class="bottom-link" data-page="tech-outcomes">
        <i class="fa-solid fa-microchip"></i>
        <span>Tech</span>
    </a>
    <a href="../pages/contact.html" class="bottom-link" data-page="contact">
        <i class="fa-solid fa-envelope"></i>
        <span>Contact</span>
    </a>
</nav>