<aside class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-logo-wrapper">
            <img src="../assets/logo-white.png" alt="NeuroStack" class="sidebar-logo-img" id="sidebarLogo">
            <span class="sidebar-logo-text">NeuroStack</span>
        </div>
    </div>
    <nav class="sidebar-nav">
        <a href="../index.html" class="side-link" data-page="home">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
        <a href="../pages/about.html" class="side-link" data-page="about">
            <i class="fa-solid fa-info-circle"></i>
            <span>About</span>
        </a>
        <a href="../pages/why-us.html" class="side-link" data-page="why-us">
            <i class="fa-solid fa-star"></i>
            <span>Why Us</span>
        </a>
        <a href="../pages/roadmap.html" class="side-link" data-page="roadmap">
            <i class="fa-solid fa-road"></i>
            <span>Roadmap</span>
        </a>
        <a href="../pages/projects.html" class="side-link" data-page="projects">
            <i class="fa-solid fa-code-branch"></i>
            <span>Projects</span>
        </a>
        <a href="../pages/tech-outcomes.html" class="side-link" data-page="tech-outcomes">
            <i class="fa-solid fa-microchip"></i>
            <span>Tech & Outcomes</span>
        </a>
        <a href="../pages/contact.html" class="side-link" data-page="contact">
            <i class="fa-solid fa-envelope"></i>
            <span>Contact</span>
        </a>
    </nav>
    <div class="sidebar-footer">
        <a href="https://wa.me/201220426463" target="_blank" class="btn btn-primary btn-full">
            <i class="fa-brands fa-whatsapp"></i>
            Enroll Now
        </a>
    </div>
</aside>